{% extends "base.html" %}

{% block title %}Choose Student{% endblock%}

{% block script %}
	function hide(some_node)
	{
		some_node_classes = some_node.parentNode.parentNode;
		child_nodes=some_node_classes.childNodes;
		for(i=0; i<child_nodes.length; ++i){
			if(child_nodes[i].className==='classes') {
				if(child_nodes[i].style.display ==='none') {
					child_nodes[i].setAttribute('style', 'display: block;');
					some_node.innerHTML = 'collapse';
				} else {
					child_nodes[i].setAttribute('style', 'display: none;');
					some_node.innerHTML = 'expand';
				}
			}
		}
	}

	/**
	 * Identifies the associated student div element for a particular
	 * radio button and then adds the student to the chosen list then 
	 * hiding the original student from the list.
	 */
	function select_student(selected_radio_button) {
		student_element = selected_radio_button.parentNode.parentNode;
		add_student(student_element);
	}
	

	/**
	 * Identifies the associated class for a particular radio_button)
	*/
	function add_class(selected_radio_button)
	{

		//removing the students
		this_class = selected_radio_button.parentNode.parentNode;
		this_class_children = this_class.getElementsByTagName('div');	
		the_students = this_class_children[1].getElementsByTagName('div'); //captures the contents of 'student_list'

		for(i=0; i<the_students.length; ++i) {
			if(the_students[i].className ==='student' && the_students[i].style.display !== 'none') {
				add_student(the_students[i]);
			}
		}

		//TODO: hiding the class element
		this_class_children[0].style.display = 'none';
	}

	/* Adds the selected student to the a list.
	Currently only adds student no. to a list but should come up with
	"selected students" div so action can be reversed. */
	function add_student(student_element)
	{
		student_id = (student_element.getAttribute('value'));
		list = document.getElementById('selected_students');
		new_list_item = document.createElement('li');
		new_list_item.innerHTML = student_id;
		list.appendChild(new_list_item);
		//list.appendChild(student_element);

		//hide the element in the list
		student_element.style.display = 'none';
	}
</script>
	<style>
		* {
			font-family: calibri;
			position: relative;
			margin: 0;
			top: 0;
			padding: 0;
		}
		
		#wrapper {
			background-color: white;
			margin: 0 auto;
			width: 800px;
		}
		
		#wrapper .year {
			padding: 0px 14px 0;
			float: left;
		}
		
		.year .year_header {
			background-color: orange;
			clear: both;
			float: left;
			width: 800px;
		}

		.year_header h3 {
			text-decoration: none;
			float: left;
		}
		
		.year_header .year_expander {
			position: relative;
			float: right;
			clear: right;
		}
		
		.year .classes {
			width: 100%;
		}
		
		.classes .class_name {
			background-color: red;
			float: left;
			width: 120px;
		}
		
		.class .student_list {
			float: left;
			clear: right;
			width: 50px;
		}
		
		 .student{
			background-color: gray;
			border-bottom: 1px solid yellow;
			float: left;
			clear: right;
			width: 680px;
		}
		
		.student * {
			background-color: gray;
			float: left;
		}
		
		.student img {
			background-color: white;
			width: 30px;
			height: 30px;
		}
		
		.student .select {
			 float: right;
		}
		
		.select * {
			margin: 0 auto;
			clear: right;
		}
		
	</style>	
{% endblock %}

{% block page_title %}Choose Student(s){% endblock %}	
{% block content %}
	<ul id="selected_students">
	</ul>
	<form action='.' type='get'>
	{% for year in years %}
		<div class="year">
			<div class="year_header">
				<div class="year_expander" onClick="hide(this);">collapse</div>
				<h3>{{ year }}</h3>
			</div>
			<div class="classes">
				{% for schoolclass in year.schoolclass_set.all %}
				<div class="class">
					<div class="class_name">
						<h4>{{schoolclass.name}}</h4>
						<p>Personal Tutor: {{schoolclass.formTutor}}</p>
						<hr />
						<input value='Add Class' type="button" onClick="add_class(this)" name='select_class' />
						
					</div>
					<div class="student_list">
						{% for student in schoolclass.student_set.all %}
						<div class="student" value="{{student.id}}">
							<img class="student_image" src="" />
							<p>{{student.forename}} {{student.surname}}</p>
							<div class="select">
								<input type="radio" onClick="select_student(this)" name="student[{{forloop.counter}}]" value='{{student.id}}' />
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
	<input type="text" name="test_text" />
	<input type="submit" value="Submit" />	
	</form>
{% endblock %}
